#root{
    display: flex;
    flex-direction: row;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 100%;
    background-color: #1a1a1a;
    padding-top: 20px;
    margin-left: -10px;
    /* border-right: 1px solid #cecbcb; */
  }
  
  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .menu-item-text {
    display: none;
    font-size: 16px;
    font-weight: bold;
  }

  #notes-area{
    display: flex;
    flex-direction: column;
  }
  
  .new-note-area{
    display: flex;
    flex-direction: column;
  }

  .new-note {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #051336;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .new-note:hover {
    background-color: #323a4d;
  }

  
  .new-note-button img {
    width: 50px;
    height: 50px;
    align-items: center;
  }
  .new-note-text-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    max-height: 700px;
    background-color: #1a1a1a;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 5px rgb(55, 60, 81);
    padding: 2px;
    border: 1px solid #cecbcb;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .new-note-text-box #note-title, .new-note-text-box #note-desc {
    width: 100%;
    border: none;
    font-size: 16px;
    margin-bottom: -4px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  /* style text area scroll bar color and border */
 ::-webkit-scrollbar {
     width: 7px;
 }
 
 ::-webkit-scrollbar-track{
     border-radius: 10px;
 }
 
 ::-webkit-scrollbar-thumb{
     border-radius: 10px;
      background-color: #4f5151; 
 }
 
  .new-note-text-box #note-title::placeholder, .new-note-text-box note-desc::placeholder {
    color: lightgray;
  }

  .new-note-text-box #note-title{
    background-color: #1a1a1a;
    font-weight: bold;
    font-size:larger;
  }

  .new-note-text-box #note-title:focus, .new-note-text-box #note-desc:focus {
    outline: none;
  }

  .new-note-text-box #note-desc, .new-note-text-box #note-title{
    background-color: #1a1a1a;
    color: white;
  }
  
  .new-note-text-box #note-desc {
    height: 200px;
    resize: none;
  }

  .new-note-text-box #note-title{
    resize: none;
  }
  
  .new-note-text-box button {
    background-color: #051336;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
  }
  
  .new-note-text-box button:hover {
    background-color: #002b5c;
  }

  .new-note-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .new-note-save-button{
    font-size: large;
    border: 1px solid #cecbcb;
    border-radius: 4px;
    max-width: 100px;
    padding: 5px;
    cursor: pointer;
  }

  .new-note-save-button:hover{
    background-color: #323a4d;
  }


  .close-text-box{
    display: flex;
    margin: 10px;
    justify-content: flex-end;
  }

  #close-img{
    width: 20px;
    height: 20px;
  }

  .saved-notes{
    /*spread items randomly despite of height*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: content-box;
    margin: 200px auto;
  }

  .notes-class {
    display: flex;
    flex-direction: column;
    border: 1px solid #cecbcb;
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
    min-width: 200px;
    max-width: 250px;
    height: fit-content;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }